<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>169.17.0.263360</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {612.00002479553223, 792}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>DisplayScale</key>
	<string>1 in = 1.00000 in</string>
	<key>FileType</key>
	<string>auto</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{296.73200000000003, 304.32299999999998}, {205.512, 28.346499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>17</integer>
			<key>ImageID</key>
			<integer>14</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.45982800000000001, 0.13500000000000001}</string>
				<string>{0.45982800000000001, 0.13500000000000001}</string>
				<string>{5.9604600000000002e-08, 0.13500000000000001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{233.732, 467.762}, {205.512, 27.467700000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>ImageID</key>
			<integer>13</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.0015640300000000001, 0.21063699999999999}</string>
				<string>{-0.47233999999999998, 0.21063699999999999}</string>
				<string>{0.46921200000000002, 0.21063699999999999}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{332.56999999999999, 432.202}, {171.83600000000001, 26.588999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Magnets</key>
			<array>
				<string>{0.0024331800000000001, 0.16151399999999999}</string>
				<string>{-0.46894599999999997, 0.16151399999999999}</string>
				<string>{0.47381200000000001, 0.16151399999999999}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{125.047, 346.68200000000002}, {194.88200000000001, 111.628}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>14</integer>
			<key>ImageID</key>
			<integer>11</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.41563600000000001, 0.37906299999999998}</string>
				<string>{0.41563600000000001, 0.37906299999999998}</string>
				<string>{-2.9802300000000001e-08, 0.37906299999999998}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{341.363, 271.44799999999998}, {128.25, 16.095600000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>13</integer>
			<key>ImageID</key>
			<integer>10</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 0.20968400000000001}</string>
				<string>{-0.482456, 0.20968400000000001}</string>
				<string>{0.482456, 0.20968400000000001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{233.67599999999999, 505.23599999999999}, {131.625, 16.519200000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Magnets</key>
			<array>
				<string>{0.0042735300000000002, 0.21187400000000001}</string>
				<string>{0.482906, 0.14377200000000001}</string>
				<string>{-0.482906, 0.14377200000000001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{106.913, 472.13999999999999}, {111.151, 22.711300000000001}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Magnets</key>
			<array>
				<string>{0.0060696600000000002, 0.20279}</string>
				<string>{-0.48987900000000001, 0.20279}</string>
				<string>{0.49189699999999997, 0.20279}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{151.738, 278.49599999999998}, {127.5, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.491176, 0.25}</string>
				<string>{0.48823499999999997, 0.25}</string>
				<string>{0.0029411900000000002, 0.25}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{368.488, 236.49600000000001}, {90, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.48125000000000001, 0.125}</string>
				<string>{0.48125000000000001, 0.125}</string>
				<string>{-0.012500000000000001, 0.125}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{332.738, 362.49599999999998}, {97.5, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.38461499999999998, 0.34999999999999998}</string>
				<string>{0.38846199999999997, 0.34999999999999998}</string>
				<string>{0.0076923399999999998, 0.34999999999999998}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{260.488, 233.99600000000001}, {90, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.48125000000000001, 0.20833299999999999}</string>
				<string>{0.48125000000000001, 0.20833299999999999}</string>
				<string>{-0.0062499900000000004, 0.20833299999999999}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{152.488, 238.24600000000001}, {90, 22.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.47499999999999998, 0.10000000000000001}</string>
				<string>{0.46875, 0.10000000000000001}</string>
				<string>{-0.0062499900000000004, 0.10000000000000001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{106.96299999999999, 506.94900000000001}, {113.05, 15.094099999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{0.0075203199999999996, 0.20186999999999999}</string>
				<string>{-0.480097, 0.20186999999999999}</string>
				<string>{0.47523500000000002, 0.20186999999999999}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{232.988, 530.99599999999998}, {75, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.45500000000000002, 0.15104100000000001}</string>
				<string>{0.44500000000000001, 0.15104100000000001}</string>
				<string>{0.0025000000000000001, 0.16666700000000001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{376.988, 512.99599999999998}, {75, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{9, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>PointAtLeast</key>
					<true/>
					<key>Width</key>
					<real>0.72000002861022949</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>15</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image14.emf</string>
		<string>image13.emf</string>
		<string>image12.emf</string>
		<string>image11.emf</string>
		<string>image10.emf</string>
		<string>image9.emf</string>
		<string>image8.emf</string>
		<string>image7.bmp</string>
		<string>image6.bmp</string>
		<string>image5.bmp</string>
		<string>image4.bmp</string>
		<string>image3.bmp</string>
		<string>image2.emf</string>
		<string>image1.bmp</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>Slices</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>HierarchicalOrientation</key>
		<integer>0</integer>
		<key>LayoutType</key>
		<integer>0</integer>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>neato</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2016-07-01 14:03:16 +0000</string>
	<key>Modifier</key>
	<string>SEV7N</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>na-letter</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612.00002479553223, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Page-1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>UserInfo</key>
	<dict>
		<key>kMDItemDescription</key>
		<string></string>
		<key>kMDItemSubject</key>
		<string>Watchguard</string>
	</dict>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{618, 352}, {1108, 901}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>TopSlabHeight</key>
		<real>250</real>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Page-1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
